.main__sobre{
    display: flex;
    flex-direction:column;
}

.sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.9rem;
}

.sobre__imagens__icones{
    width: 5rem;
    padding: 1.25rem;
}

.sobre__titulo{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.25rem;
}
.sobre__paragrafo{
    font-size: 118.75%;
    text-align: left;
    padding: 1.25rem;
}