@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@300;400&display=swap');
@import url(variaveis.css);

*{
    color: var(--branco);
}

body{
    font-family: var(--familia-font);
    background-color: var(--preto);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho{
    width: 100%;
    background-color: var(--roxo);
}

.cabecalho__logo{
    display: flex;
    justify-content: space-between;
    background-color: var(--roxo);
    padding: 0.625rem;
}

.menu__abrir{
    width: 2.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: none;
    padding: 0%;
    background-color: var(--roxo);
}

.menu__abrir i::before{
    content: url(../imgs/icons/menu.svg);
}

.menu__abrir:hover{
    cursor: pointer;
}

.link__logo{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    background-color: var(--roxo);
}

.titulo{
    margin-right: 0.625rem;
    font-size: 1.25rem;
    background-color: var(--roxo);
}

.cabecalho__logo__imagem{
    height: 3.125rem;
    background-color: var(--roxo);
}

.menu-lateral{
    display:flex;
    flex-direction: column;
    background-color: var(--roxo);
    width: 75vw;
    height: 90%;
    margin-top: 3.125rem;
    position: absolute;
    left: -100vw;
    transition: .25s;
    
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral a{
    text-decoration: none;
    background-color: var(--roxo);
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
    height: 4rem;
    margin-left: 1.25rem;
}

.menu__opcoes{
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3.125rem;
    
}

.paragrafo-um{
    border-right: 0.125rem solid;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 1.2rem;
}
.paragrafo-dois{
    margin-top: 1rem;
    border-right: 0.125rem solid;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 1.2rem;
}

.logo_body{
    width: 80%;
}

.copyright{
    height: 3.75rem;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--roxo);
}